/* Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Clearfix */
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
.hidden { display: none; }

/* Icons */
@font-face {
	font-family: 'icons';
		src: url('../fonts/icons.eot');
		src: url('../fonts/icons.eot#iefix') format('embedded-opentype'),
		url('../fonts/icons.woff') format('woff'),
		url('../fonts/icons.ttf') format('truetype'),
		url('../fonts/icons.svg#icons') format('svg');
	font-weight: normal;
	font-style: normal;
  font-family: Adam;
  src: url("../../static/fonts/ADAM-CGPRO.woff") format("woff"), url("../../static/fonts/ADAM-CGPRO.ttf")  format("truetype");
  }

  body {
    font-family: 'Adam';
}

[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
}
.icon-facebook:before { content: '\e802'; }
.icon-facebook-squared:before { content: '\e800'; }
.icon-twitter:before { content: '\e801'; }
.icon-twitter-1:before { content: '\e804'; }
.icon-facebook-circled:before { content: '\e805'; }
.icon-twitter-circled:before { content: '\e806'; }
.icon-facebook-rect:before { content: '\e803'; }

/* Spacing */
.post h1, h3, h4, h5, p,i .post-body ul, #post-list li, pre {
margin-bottom: 20px;
}

/* Base */
html, body { height: 100%; }

body {
	font:16px/1 "Adam", Helvetica, Arial, sans-serif;
	color: #666;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

/* Link to Documentation */
#docs {
	position: fixed;
	top: 8px;
	right: 6px;
	background: darkred;
	color: #fff;
	padding: 8px 12px;
	font-size: 13px;
	line-height: 1.35;
	border-radius: 3px;
	z-index: 100;
}

#wrapper {
	max-width: 1000px;
	margin: 0 auto;
	padding: 100px 40px 100px 40px;
}

#avatar {
	float: right;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

/* Typography */
/*Accent color*/
a,
#title,
#post-list a:hover,
#post-list li:hover .dates,
#title:hover {
	text-decoration: none;
	color: darkred;
}

p a { color: darkred; }

/*Transitions*/
a,
#post-nav a,
#post-list a	{
	-webkit-transition: all 0.15s ease;
	-moz-transition: all 0.15s ease;
	-ms-transition: all 0.15s ease;
	-o-transition: all 0.15s ease;
	transition: all 0.15s ease;
}

/*ul 	{ margin:0; padding:0; }
/*li	{ list-style-type:circle; list-style-position:inside; }

/* Line Height */
#post-body, p { line-height:1.7; }

b, strong { font-weight: bold; }
em, i { font-style: italic; }

#title {
	display: inline-block;
	line-height: 100%;
	font-weight: 500;
	font-size: 19px;
	margin: 0;
	padding-bottom: 20px;
}

.description {
	float: right;
	font: italic 14px/1.4em Georgia,serif;
	color: #aaa;
}

h1 {
	font-size: 30px;
	letter-spacing: -1px;
	color: #222;
}

h2 {
	font: italic 19px/1.3em Georgia,serif;
	color: #bbb;
}

.post h2 {
	margin-bottom:2 0px;
	color: inherit;
	font: 400 18px/1.7em "Adam",Helvetica,Arial,sans-serif;
}

.post h2.headline {
	font: italic 22px/1.3em Georgia,serif;
	color: #aaa;
	margin: -5px 0 40px 0;
}

#post-list h2 {
	font: normal 17px/1.5em "Adam",Helvetica,Arial,sans-serif;
	color: #aaa;
	max-width: 400px;
	margin-top: 2px;
}

h3, h4, h5 { color:#333; }

h3 { font-size:20px; font-weight: 500; }
h4 { font-size:16px; font-weight:bold; }
h5 { font-size:15px; font-weight: bold; }

h6 {
	font-size: 13px;
	font-weight: bold;
	color: #666;
	margin-bottom: 6px;
}

p.small {
	color: #bbb;
	font-size: 14px;
	line-height: 1.5;
	display: block;
}

blockquote {
	padding-left: 15px;
	border-left: 3px solid #eee;
}

hr {
	display: block;
	border: none;
	height: 3px;
	margin: 40px auto;
	background: #f4f4f4;
}

span.code { font-family:Menlo, Monaco, Courier; background-color:#EEE; font-size:14px; }

pre	{
	font-family:Menlo, Monaco, Courier;
	white-space:pre-wrap;
	border: 1px solid #ddd;
	padding:20px;
	background-color:#fdfdfd;
	font-size:14px;
	overflow:auto;
	border-radius: 3px;
}

table {
	width: 100%;
	margin: 40px 0;
	border-collapse: collapse;
	font-size: 13px;
	line-height: 1.5em;
}

th,td {
	text-align: left;
	padding-right: 20px;
	vertical-align: top;
}

table td,td {
	border-spacing: none;
	border-style: solid;
	padding: 10px 15px;
	border-width: 1px 0 0 0;
}

tr>td {
	border-top: 1px solid #eaeaea;
}

tr:nth-child(odd)>td {
	background: #fcfcfc;
}

thead th,th {
	text-align: left;
	padding: 10px 15px;
	height: 20px;
	font-size: 13px;
	font-weight: bold;
	color: #444;
	border-bottom: 1px solid #dadadc;
	cursor: default;
	white-space: nowrap;
}

img {
	width: 100%;
	max-width: 100%;
	border-radius: 3px;
}

/* Made with Cactus Badge */
#badge {
	position: absolute;
	bottom: 8px;
	right: 8px;
	height: 48px;
	width: 48px;
}

/*=========================================
Post List
=========================================== */
#post-list,#archive-list {
	margin-top: 100px;
}

#post-list li,#archive-list li {
	list-style-type: none;
}

#post-list li:last-child {
	margin-bottom: 0;
}

#post-list li+li {
	padding-top: 20px;
	border-top: 1px solid #eee;
}

#post-list a {
	color: #333;
	display: block;
	font: bold 19px/1.7 "Adam",helvetica,Arial,sans-serif;
}

#post-list .dates {
	float: right;
	position: relative;
	top: 1px;
	font: 300 17px/1.8 "Adam",helvetica,Arial,sans-serif;
	color: #bbb;
}

#post-list-footer {
	border-top: 1px solid #eee;
	margin-top: 20px;
	padding-top: 100px;
}

#archive-link {
	display: inline-block;
	font-size: 13px;
	font-weight: ;
	border-radius: 4px;
	padding: 3px 10px 6px;
	box-shadow: 0 0 0 1px darkred;
}

#archive-link:hover {
	background: darkred;
	color: #fff;
	box-shadow: 0 0 0 1px darkred;
}

#archive-link span {
	position: relative;
	top: 0;
	font-size: 17px;
}

#footer {
	box-shadow: inset 0 1px 0 #eee;
	padding: 40px 0 0 0;
	margin-top: 100px;
}

/* Post Page */
#header {
	border-bottom: 1px solid #eee;
}

.post {
	margin: 80px 0 0 0;
}

#post-meta {
	font-size: 13px;
	font-weight: bold;
	line-height: 1.4;
	border-top: 1px solid #eee;
	padding-top: 40px;
	margin-bottom: 40px;
	margin-top: 80px;
	color:#444;
}

#post-meta div span {
	color: #aaa;
	font-weight: 500;
	display: block;
}

#post-meta div {
	margin: 0 25px 0 0;
	float: left;
}

#sharing {
	float: right;
	margin: -2px;
}

#sharing a {
	font-size: 20px;
	font-size: 23px;
	margin-left: 1px;
	margin-top: 4px;
	color: #d4d4d4;
	display: inline-block;
	vertical-align: middle;
}

#sharing a:hover {
	color: #444;
}

/* Post Navigation */
#post-nav {
	border-top:1px solid #eee;
	text-align:center;
	padding-top:20px;
	font-size:13px;
	font-weight:500;
}

#post-nav span {
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-ms-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	transition: all 0.1s linear;
	position: relative;
}

#post-nav span.prev {
	float: left;
}

#post-nav span.next {
	float: right;
}

#post-nav span .arrow {
	position: relative;
	padding: 1px;
}

#post-nav span.prev:hover .arrow {
	left: -4px;
}

#post-nav span.next:hover .arrow {
	right: -4px;
}

#post-nav span.prev:hover {
	left: -3px;
}

#post-nav span.next:hover {
	right: -3px;
}

/* Archive */
h1.archive {
	margin-bottom: 0px;
}

h2.month {
	width: 100%;
	font: bold 13px/1 "Adam",helvetica,Arial,sans-serif;
	text-transform: uppercase;
	margin-top: 40px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}

#archive-list li:last-child {
	margin-bottom: 0;
}

#archive-list a {
	display: block;
	font: bold 17px/1.7 "Adam",helvetica,Arial,sans-serif;
	color: #333;
}

#archive-list .dates {
	float: right;
	position: relative;
	top: 1px;
	font: 300 17px/1.7 "Adam",helvetica,Arial,sans-serif;
	color: #bbb;
}

#archive-list li a:hover,#archive-list li:hover .dates {
	color: darkred;
}

/* Media Queries */
@media screen and (max-width: 540px) {
	#wrapper { padding:20px 20px 20px 20px;}
	#header { margin-bottom: 60px; border-bottom: 1px solid #eee; }
	.post { margin: 40px 0; }
	#footer { margin-top: 60px; }

	#post-list, #archive-list { margin-top: 0; }
	#post-meta { margin-top: 60px; }

	#title { font-size: 17px; }
	#post-list .dates { display: none; }

	#post-list-footer { margin-top: 20px; padding-top: 40px; }

	h1 { font-size: 26px; }
	.post h2.headline { font-size: 20px; }
}

/* Top bar */

.container {
  max-width: 1200px;
  margin: 0;
  width: 100%;
}


.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
}

.nav li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  position: relative;
  font-size: 14;
  color: #fff;
}

.nav li a {
  padding: 15px 20px;
  font-size: 14;
  color: #fff;
  display: inline-block;
  outline: 0;
  font-weight: 400;
}

.nav li:hover ul.dropdown { display: block; }

.nav li ul.dropdown {
  position: absolute;
  display: none;
  width: 200px;
  background: darkred;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -ms-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -o-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  padding-top: 0;
}

.nav li ul.dropdown li {
  display: block;
  list-style-type: none;
}

.nav li ul.dropdown li a {
  padding: 15px 20px;
  font-size: 15px;
  color: #fff;
  display: block;
  font-weight: 400;
}

.nav li ul.dropdown li:last-child a { border-bottom: none; }

.nav li:hover a {
  background: #fff;
  color: #333 !important;
}

.nav li:first-child:hover a { border-radius: 0 0 0 0; }

.nav li ul.dropdown li:hover a { background: rgba(0,0,0, .1); }

.nav li ul.dropdown li:first-child:hover a { border-radius: 0; }

.title-mobile {
  display: none;
}

.nav {
  background: #333;
  position: fixed;
  width: 200px;
  height: 100%;
  display: block;
  left: -200px;
  top: 0px;
  bottom: 0px;
  -webkit-transition: left 0.25s ease;
  -moz-transition: left 0.25s ease;
  -ms-transition: left 0.25s ease;
  -o-transition: left 0.25s ease;
  transition: left 0.25s ease;
  margin: 0;
  border: 0;
  border-radius: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.title-mobile {
  position: fixed;
  display: block;
  top: 10px;
  font-size: 20px;
  left: 100px;
  right: 100px;
  text-align: center;
  color: #FFF;
}

.nav.visible {
  left: 0px;
  -webkit-transition: left 0.25s ease;
  -moz-transition: left 0.25s ease;
  -ms-transition: left 0.25s ease;
  -o-transition: left 0.25s ease;
  transition: left 0.25s ease;
}

.nav-bg {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 50px;
  margin: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 12px 0 0 10px;
}

.navbar {
  display: inline-block;
  vertical-align: middle;
  height: 50px;
  cursor: pointer;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  padding: 12px;
}

.navbar span {
  height: 2px;
  background: #fff;
  margin: 5px;
  display: block;
  width: 20px;
}

.navbar span:nth-child(2) { width: 20px; }

.navbar span:nth-child(3) { width: 20px; }

.nav ul { padding-top: 50px; }

.nav li { display: block; }

.nav li a {
  display: block;
  color: #fff;
  font-weight: 600;
}

.nav li:first-child:hover a { border-radius: 0; }

.nav li ul.dropdown { position: relative; }

.nav li ul.dropdown li a {
  background: #333 !important;
  border-bottom: none;
}

.nav li:hover a {
  background: #333;
  color: #fff !important;
}

.nav li ul.dropdown li:hover a {
  background: #333 !important;
  color: #fff !important;
}

.nav li ul.dropdown li a { padding: 10px 10px 10px 30px; }

.cover-bg {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0,0,0,0);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

 @media only screen and (max-width:1199px) {

.container { width: 96%; }
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

#pagepicture img {
    width: 320px;
    padding: 10px;
    margin: 0;
}

i {
    font-style: italic;
	}


  .hero-blog {
      /* Sizing */
      width: 100vw;
      height: 100vh;

      /* Flexbox stuff */
      display: flex;
      justify-content: center;
      align-items: center;

      /* Text styles */
      text-align: center;
      color: white;

      /* Background styles */
      background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('../../static/images/detroit.jpg');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
  }


  .hero-blog h1 {
      /* Text styles */
      font-size: 3em;

      /* Margins */
      margin-top: 0;
      margin-bottom: 0.5em;
      margin-left: 10%;
      margin-right: 10%;
      color: #fff;
      font-family: 'Adam';
  }
