.message {
  border: 1px solid #d2d0d0;
  padding: 2em;
  font-size: 1.7vw;
  box-shadow: -2px 2px 10px 0px rgba(68, 68, 68, 0.4); }
  @supports (display: grid) {
    .message {
      display: none; } }

.section {
  display: none;
  padding: 2rem; }
  @media screen and (min-width: 768px) {
    .section {
      padding: 4rem; } }
  @supports (display: grid) {
    .section {
      display: block; } }

h1 {
  font-size: 2rem;
  margin: 0 0 1.5em; }

.grid {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 150px;
  grid-auto-flow: row dense; }

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  background: #0c9a9a;
  color: #fff;
  grid-column-start: auto;
  grid-row-start: auto;
  color: #fff;
  background: url("static/images/photography/marbled_salamander.jpg?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=");
  text-indent: -9999px;
  background-size: cover;
  background-position: center;
  box-shadow: -2px 2px 10px 0px rgba(68, 68, 68, 0.4);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  counter-increment: item-counter; }
  .item:nth-child(2) {
    background-image: url("static/images/photography/lobster.jpg?dpr=2&auto=format&fit=crop&w=1500&h=996&q=80&cs=tinysrgb&crop="); }
  .item:nth-child(3) {
    background-image: url("static/images/photography/queen_Annes_lace.jpg?dpr=2&auto=format&fit=crop&w=1500&h=2250&q=80&cs=tinysrgb&crop="); }
  .item:nth-child(4) {
    background-image: url("static/images/photography/crayfish.jpg?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop="); }
  .item:nth-child(5) {
    background-image: url("static/images/photography/library_tower.jpg?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop="); }
  .item:nth-child(6) {
    background-image: url("static/images/photography/queen_Annes_lace2.jpg?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop="); }
  .item:nth-child(7) {
    background-image: url("static/images/photography/periphyton.jpg?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop="); }
  .item:nth-child(8) {
    background-image: url("static/images/photography/snail.jpg?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop="); }
  .item:nth-child(9) {
    background-image: url("static/images/photography/emergence.jpg?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop="); }
  .item:nth-child(10) {
    background-image: url("static/images/photography/hammonasset.jpg?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop="); }
  .item:nth-child(11) {
    background-image: url("static/images/photography/fritlliary.jpg?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop="); }
  .item:nth-child(12) {
    background-image: url("static/images/photography/egret.jpg?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop="); }
  .item:nth-child(13) {
    background-image: url("static/images/photography/beetle.jpg?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop="); }
  .item:nth-child(14) {
    background-image: url("static/images/photography/forestcanyon.jpg?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop="); }
  .item:nth-child(15) {
    background-image: url("static/images/photography/lines.jpg?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop="); }
  .item:nth-child(16) {
    background-image: url("static/images/photography/snail2.jpg?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop="); }
  .item:nth-child(17) {
    background-image: url("static/images/photography/sail.jpg?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop="); }
  .item:nth-child(18) {
    background-image: url("static/images/photography/lumpy.jpg?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop="); }
  .item:nth-child(19) {
    background-image: url("static/images/photography/albertfalls.jpg?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop="); }
  .item:nth-child(20) {
    background-image: url("static/images/photography/tree.jpg?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop="); }
  .item:nth-child(21) {
    background-image: url("static/images/photography/mountain.jpg?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop="); }
  .item:after {
    content: '';
    position: absolute;
    width: 1%;
    height: 1%;
    background-color: black;
    opacity: 0.0;
    transition: opacity 0.3s ease-in-out; }
  .item:hover {
    transform: scale(1.05); }
    .item:hover:after {
      opacity: 0; }
  .item--medium {
    grid-row-end: span 2; }
  .item--large {
    grid-row-end: span 3; }
  .item--full {
    grid-column-end: auto; }
    @media screen and (min-width: 768px) {
      .item--full {
        grid-column: 1/-1;
        grid-row-end: span 2; } }
  .item__details {
    position: relative;
    z-index: 1;
    padding: 15px;
    color: #444;
    background: #fff;
    text-transform: lowercase;
    letter-spacing: 1px;
    color: #828282; }
    .item__details:before {
      content: counter(item-counter);
      font-weight: bold;
      font-size: 1.1rem;
      padding-right: 0.5em;
      color: #444; }

/*# sourceMappingURL=gallery.css.map */
