/* Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Clearfix */
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

/* Base */

@font-face {
    font-family: Adam;
    src: url("../../static/fonts/ADAM-CGPRO.woff") format("woff"), url("../../static/fonts/ADAM-CGPRO.ttf")  format("truetype");
}

body {
  font-family: 'Adam';
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	color: #777;
}

#wrapper {
	padding: 10px 40px;
	max-width: 1000px;
	margin: 0 auto;
}

#header1 {
	margin-bottom: 0px;
	padding-top: 0px;
	text-align: left;

}

#header {
	margin-bottom: 0px;
	padding-top: 0px;
	text-align: left;

}

#divide {
	border-bottom: 3px solid #000;
	margin-bottom: 50px;
	padding-bottom: 0px;
	text-align: center;
}

#avatar {
	display: inline-block;
	max-width: 20% ;
  float:left;
	max-height: 20%;
	border-radius: 0;
	margin-bottom: 20px;
  margin-right: 20px;
}

#frontpage{
	display: inline-block;
	max-width: 50% ;
	max-height: 40%;
	border-radius: 0%;
	margin-bottom: 40px;

}

/* Link to Documentation */
#docs {
	position: fixed;
	top: 8px;
	right: 6px;
	background: darkred;
	color: #fff;
	padding: 8px 12px;
	font-size: 13px;
	font-weight: bold;
	line-height: 1.35;
	border-radius: 3px;
	z-index: 100;
}

/* Made with Cactus Badge */
#badge {
	position: absolute;
	bottom: 8px;
	right: 8px;
	height: 48px;
	width: 48px;
}

/* Type */
/* Accent color */
a {
	text-decoration: none;
	color: darkred;
	font-weight: 400;
}

h1 {
	font-weight: 400;
	font-size: 20px;
	color: #222;
}

h2 {
	font-size: 20px;
	font-weight: 300;
	color: darkred;
	margin-top: 10px;
}

p {
	line-height: 1.8;
	 margin-bottom: 30px;
	 font-size: 16px;
}

@media screen and (max-width: 540px) {
	#wrapper { padding:40px; }
	#header { margin-bottom: 40px; }
	#docs { display: none; }
}

@media screen and (max-width:440px) {
	#wrapper { padding:20px; }
	#header { margin-bottom: 20px; }
}

/* Top bar */

.container {
  max-width: 1200px;
  margin: 0;
  width: 100%;
}


.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
}

.nav li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  position: relative;
  font-size: 14;
  color: #fff;
}

.nav li a {
  padding: 15px 20px;
  font-size: 14;
  color: #fff;
  display: inline-block;
  outline: 0;
  font-weight: 400;
}

.nav li:hover ul.dropdown { display: block; }

.nav li ul.dropdown {
  position: absolute;
  display: none;
  width: 200px;
  background: #5badf0;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -ms-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -o-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  padding-top: 0;
}

.nav li ul.dropdown li {
  display: block;
  list-style-type: none;
}

.nav li ul.dropdown li a {
  padding: 15px 20px;
  font-size: 15px;
  color: #fff;
  display: block;
  font-weight: 400;
}

.nav li ul.dropdown li:last-child a { border-bottom: none; }

.nav li:hover a {
  background: #fff;
  color: #333 !important;
}

.nav li:first-child:hover a { border-radius: 0 0 0 0; }

.nav li ul.dropdown li:hover a { background: rgba(0,0,0, .1); }

.nav li ul.dropdown li:first-child:hover a { border-radius: 0; }

.title-mobile {
  display: none;
}

.nav {
  background: #333;
  position: fixed;
  width: 200px;
  height: 100%;
  display: block;
  left: -200px;
  top: 0px;
  bottom: 0px;
  -webkit-transition: left 0.25s ease;
  -moz-transition: left 0.25s ease;
  -ms-transition: left 0.25s ease;
  -o-transition: left 0.25s ease;
  transition: left 0.25s ease;
  margin: 0;
  border: 0;
  border-radius: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.title-mobile {
  position: fixed;
  display: block;
  top: 10px;
  font-size: 20px;
  left: 100px;
  right: 100px;
  text-align: center;
  color: #FFF;
}

.nav.visible {
  left: 0px;
  -webkit-transition: left 0.25s ease;
  -moz-transition: left 0.25s ease;
  -ms-transition: left 0.25s ease;
  -o-transition: left 0.25s ease;
  transition: left 0.25s ease;
}

.nav-bg {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 50px;
  margin: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 12px 0 0 10px;
}

.navbar {
  display: inline-block;
  vertical-align: middle;
  height: 50px;
  cursor: pointer;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  padding: 12px;
}

.navbar span {
  height: 2px;
  background: #fff;
  margin: 5px;
  display: block;
  width: 20px;
}


.navbar span:nth-child(2) { width: 20px; }

.navbar span:nth-child(3) { width: 20px; }

.nav ul { padding-top: 50px; }

.nav li { display: block; }

.nav li a {
  display: block;
  color: #fff;
  font-weight: 600;
}

.nav li:first-child:hover a { border-radius: 0; }

.nav li ul.dropdown { position: relative; }

.nav li ul.dropdown li a {
  background: #333 !important;
  border-bottom: none;
}

.nav li:hover a {
  background: #333;
  color: #fff !important;
}

.nav li ul.dropdown li:hover a {
  background: #333 !important;
  color: #fff !important;
}

.nav li ul.dropdown li a { padding: 10px 10px 10px 30px; }

.cover-bg {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0,0,0,0);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

#pagepicture img {
    width: 320px;
    padding: 10px;
    margin: 0;
}

i {
    font-style: italic;
	}

/* Hero Image */

.hero {
    /* Sizing */
    width: 100vw;
    height: 100vh;

    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Text styles */
    text-align: center;
    color: white;

    /* Background styles */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('../../static/images/hannes-ri-57619-unsplash.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.hero h1 {
    /* Text styles */
    font-size: 3em;

    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
    margin-left: 10%;
    margin-right: 10%;
    color: #fff;
    font-family: 'Adam';
}

.hero .btn {
    /* Positioning and sizing */
    display: block;
    width: 200px;

    /* Padding and margins */
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    /* Text styles */
    color: #000;
    text-decoration: none;
    font-size: 1em;
    font-family: 'Adam';

    /* Border styles */
    border: 3px solid white;
    border-radius: 20px;

    /* Background styles */
    background-color: white;
}

.hero img {
  width: 30%;
  padding: 10px;
  display: block;
  bottom: 0px;
  right: 0px;
  border-radius: 0px;
  position: absolute;
  background-color: white;
  background-blend-mode: darken;
}

.hero-research {
    /* Sizing */
    width: 100vw;
    height: 100vh;

    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Text styles */
    text-align: center;
    color: white;

    /* Background styles */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('../../static/images/peri.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.hero-research h1 {
    /* Text styles */
    font-size: 3em;

    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
    margin-left: 10%;
    margin-right: 10%;
    color: #fff;
    font-family: 'Adam';
}

.hero-cv {
    /* Sizing */
    width: 100vw;
    height: 100vh;

    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Text styles */
    text-align: center;
    color: white;

    /* Background styles */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('../../static/images/photography/forestcanyon.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.hero-cv h1 {
    /* Text styles */
    font-size: 3em;

    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
    margin-left: 10%;
    margin-right: 10%;
    color: #fff;
    font-family: 'Adam';
}


.hero-people {
    /* Sizing */
    width: 100vw;
    height: 100vh;

    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Text styles */
    text-align: center;
    color: white;

    /* Background styles */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('../../static/images/zach-miles-130827-unsplash.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.hero-people h1 {
    /* Text styles */
    font-size: 3em;

    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
    margin-left: 10%;
    margin-right: 10%;
    color: #fff;
    font-family: 'Adam';
}

.hero-outreach {
    /* Sizing */
    width: 100vw;
    height: 100vh;

    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Text styles */
    text-align: center;
    color: white;

    /* Background styles */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('../../static/images/photography/beetle.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.hero-outreach h1 {
    /* Text styles */
    font-size: 3em;

    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
    margin-left: 10%;
    margin-right: 10%;
    color: #fff;
    font-family: 'Adam';
}

.hero-teaching {
    /* Sizing */
    width: 100vw;
    height: 100vh;

    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Text styles */
    text-align: center;
    color: white;

    /* Background styles */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('../../static/images/teaching.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.hero-teaching h1 {
    /* Text styles */
    font-size: 3em;

    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
    margin-left: 10%;
    margin-right: 10%;
    color: #fff;
    font-family: 'Adam';
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.hero-join {
    /* Sizing */
    width: 100vw;
    height: 100vh;

    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Text styles */
    text-align: center;
    color: white;

    /* Background styles */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('../../static/images/mmcfront.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.hero-join h1 {
    /* Text styles */
    font-size: 3em;

    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
    margin-left: 10%;
    margin-right: 10%;
    color: #fff;
}

.hero-china {
    /* Sizing */
    width: 100vw;
    height: 100vh;

    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Text styles */
    text-align: center;
    color: white;

    /* Background styles */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('../../static/images/nofls/posterboard.jpeg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.hero-china h1 {
    /* Text styles */
    font-size: 3em;

    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
    margin-left: 10%;
    margin-right: 10%;
    color: #fff;
    font-family: 'Adam';
}


